.App {
  text-align: center;
  color:#fff;
}
.App-header {
  background-image: linear-gradient(to right top, #d65db1, #fc6895, #ff8178, #ffa364, #ffc75f);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
